<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>COVID-19</title>
    <link rel="stylesheet" href="/lib/layui/css/layui.css">
    <script src="/lib/layui/layui.js"></script>
    <script src="/lib/jquery-3.6.0.js"></script>
    <script src="/lib/echarts.js"></script>
</head>
<body>
    <div class="layui-container">
        <div class="layui-row" style="margin-top: 20px;" >
            <div class="layui-col-md9">
                <input type="text" name="address" id="address" placeholder="请输入居住地" autocomplete="off" class="layui-input" style="text-align: center">
            </div>
            <div class="layui-col-md3">
                <button type="button" class="layui-btn layui-btn-normal" style="margin-left: 15px" onclick="search()">搜&nbsp;&nbsp;索</button>
                <button type="button" class="layui-btn layui-btn-normal" style="margin-left: 15px" onclick="analysis()">手动解析</button>
            </div>
        </div>
        <div class="layui-row" style="margin-top: 20px">
            <div class="layui-col-md12">
                <table id="demo" lay-filter="test"></table>
            </div>
        </div>

        <div class="layui-row" style="margin-top: 20px">
            <div class="layui-col-md12">
                <select id="citySelect" class="layui-select" onchange="initEcharts()">
                </select>
            </div>
        </div>



        <div id="main" style="width:100%; height: 500px;"></div>
        <div id="main1" style="width:100%; height: 500px;margin-top: 10px"></div>


        <script>
            layui.use(['layer', 'form','table'], function(){
                var layer = layui.layer
                    ,form = layui.form
                    ,table = layui.table;

                //第一个实例
                table.render({
                    elem: '#demo',
                    height: 500,
                    url: '/address/getAddress',
                    page: true,
                    cols: [
                        [
                            {field: 'pro_name', title: '省/市', width:150},
                            {field: 'city_name', title: '市/区', width:250,align: 'center'},
                            {field: 'address', title: '居住地',align: 'center'},
                            {field: 'date', title: '日期', width:150,align: 'center'},
                            {field: 'open_date', title: '预计解封', width:150,align: 'center'}
                        ]
                    ]
                });


                window.search = function(){
                    table.reload('demo', {
                        url: '/address/getAddress'
                        ,where: {
                            address: $('#address').val()
                        } //设定异步数据接口的额外参数
                        //,height: 300
                    });
                }

                window.analysis = function (){
                    layer.prompt(function(val, index){
                        let loading = layer.load(1, {
                            shade: [0.1,'#fff'] //0.1透明度的白色背景
                        });
                        $.ajax({
                            url: '/address/analysis',
                            type: 'post',
                            dataType: 'json',
                            contentType: 'application/json',
                            data: JSON.stringify({
                                beanName: 'shAddressAnalysisHandlerImpl',
                                url: val,
                                proId: '1514979369040113664'
                            }),
                            success(res){
                                layer.msg(res.data);
                                layer.close(index);
                                layer.close(loading);
                            },
                            error(){
                                layer.close(index);
                                layer.close(loading);
                            }
                        })
                    });
                }
            });

            $(function (){
                initCity();
                initEcharts();


            })
            function initCity(){
                $.ajax({
                    url: '/city/findCityByProId',
                    type: 'post',
                    data: {
                        proId: '1514979369040113664'
                    },
                    success(res){
                        // $('#citySelect').empty();
                        var data = res.data;
                        for(var i in data){
                            $('#citySelect').append('<option value="' + data[i].id + '">' + data[i].name + '</option>');
                        }
                        initEcharts();
                        initCityCountEcharts();
                    }
                })
            }
            function initEcharts(){
                let itemSelect = $('#citySelect option:selected');
                let cityId = itemSelect.val();
                let cityName = itemSelect.text();
                if (cityId === undefined || cityId == null) {
                    return false;
                }
                $.ajax({
                    url: '/dayData/findDayDataByCityId',
                    type: 'post',
                    data: {
                        cityId: cityId
                    },
                    success(res) {
                        let data = res.data;
                        let diagnosis = [];
                        let asymptomatic = [];
                        let dateArray = [];
                        for (let i in data){
                            diagnosis.push(data[i].diagnosis);
                            asymptomatic.push(data[i].asymptomatic);
                            dateArray.push(data[i].date);
                        }
                        let option = {
                            title: {
                                text: cityName + '_疫情走势图'
                            },
                            tooltip: {
                                trigger: 'axis'
                            },
                            legend: {
                                data: ['确诊病例', '无症状病例']
                            },
                            grid: {
                                left: '3%',
                                right: '4%',
                                bottom: '3%',
                                containLabel: true
                            },
                            toolbox: {
                                feature: {
                                    saveAsImage: {}
                                }
                            },
                            xAxis: {
                                type: 'category',
                                boundaryGap: false,
                                data: dateArray
                            },
                            yAxis: {
                                type: 'value'
                            },
                            series: [
                                {
                                    name: '确诊病例',
                                    type: 'line',
                                    stack: 'Total',
                                    data: diagnosis
                                },
                                {
                                    name: '无症状病例',
                                    type: 'line',
                                    stack: 'Total',
                                    data: asymptomatic
                                }
                            ]
                        };
                        echarts.init(document.getElementById('main')).setOption(option);
                    }
                })
            }

            function initCityCountEcharts(){
                let itemSelect = $('#citySelect option:selected');
                let cityId = itemSelect.val();
                let cityName = itemSelect.text();
                if (cityId === undefined || cityId == null) {
                    return false;
                }
                $.ajax({
                    url: '/city/findCityCount',
                    type: 'post',
                    data: {
                        proId: '1514979369040113664'
                    },
                    success(res) {
                        let data = res.data;
                        let echartsData = [];
                        for (let i in data){
                            let itemData = {
                                value: data[i].count,
                                name: data[i].city_name
                            }
                            echartsData.push(itemData)
                        }
                        let option = {
                            title: {
                                text: '上海各区确诊居住地数量',
                                left: 'center'
                            },
                            tooltip: {
                                trigger: 'item'
                            },
                            legend: {
                                orient: 'vertical',
                                left: 'left'
                            },
                            series: [
                                {
                                    name: '数量',
                                    type: 'pie',
                                    radius: '50%',
                                    data: echartsData,
                                    emphasis: {
                                        itemStyle: {
                                            shadowBlur: 10,
                                            shadowOffsetX: 0,
                                            shadowColor: 'rgba(0, 0, 0, 0.5)'
                                        }
                                    }
                                }
                            ]
                        };
                        echarts.init(document.getElementById('main1')).setOption(option);
                    }
                })
            }


        </script>
    </div>
</body>
</html>